openapi: 3.1.0
info:
  title: LiveChat Agent Chat API
  description: >-
    REST endpoints (Text Platform v3.6 Agent Chat API) for agents to manage
    chats, send messages, transfer conversations, and update statuses. All
    actions are POST requests under /agent/action/{action} and authenticated
    with OAuth 2.x bearer tokens or Personal Access Tokens.
  version: "v3.6"
  contact:
    name: LiveChat / Text Platform
    url: https://platform.text.com/docs/messaging/agent-chat-api
servers:
  - url: https://api.livechatinc.com/v3.6
    description: LiveChat Agent Chat API
security:
  - bearerAuth: []
tags:
  - name: Chats
  - name: Threads
  - name: Events
  - name: Properties
  - name: Customers
  - name: Status
  - name: Other
paths:
  /agent/action/list_chats:
    post:
      tags: [Chats]
      summary: List chats
      description: Retrieve chat summaries accessible to the agent.
      operationId: listChats
      responses:
        "200":
          description: List of chats.
  /agent/action/list_threads:
    post:
      tags: [Threads]
      summary: List threads
      description: Get threads within a specific chat.
      operationId: listThreads
      responses:
        "200":
          description: List of threads.
  /agent/action/get_chat:
    post:
      tags: [Chats]
      summary: Get chat
      description: Fetch a single thread from a chat.
      operationId: getChat
      responses:
        "200":
          description: Chat details.
  /agent/action/list_archives:
    post:
      tags: [Chats]
      summary: List archives
      description: List archived chats with thread events.
      operationId: listArchives
      responses:
        "200":
          description: Archived chats.
  /agent/action/start_chat:
    post:
      tags: [Chats]
      summary: Start chat
      operationId: startChat
      responses:
        "200":
          description: Chat started.
  /agent/action/resume_chat:
    post:
      tags: [Chats]
      summary: Resume chat
      operationId: resumeChat
      responses:
        "200":
          description: Chat resumed.
  /agent/action/deactivate_chat:
    post:
      tags: [Chats]
      summary: Deactivate chat
      operationId: deactivateChat
      responses:
        "200":
          description: Chat deactivated.
  /agent/action/follow_chat:
    post:
      tags: [Chats]
      summary: Follow chat
      operationId: followChat
      responses:
        "200":
          description: Following chat.
  /agent/action/unfollow_chat:
    post:
      tags: [Chats]
      summary: Unfollow chat
      operationId: unfollowChat
      responses:
        "200":
          description: Unfollowed.
  /agent/action/transfer_chat:
    post:
      tags: [Chats]
      summary: Transfer chat
      operationId: transferChat
      responses:
        "200":
          description: Chat transferred.
  /agent/action/add_user_to_chat:
    post:
      tags: [Chats]
      summary: Add user to chat
      operationId: addUserToChat
      responses:
        "200":
          description: User added.
  /agent/action/remove_user_from_chat:
    post:
      tags: [Chats]
      summary: Remove user from chat
      operationId: removeUserFromChat
      responses:
        "200":
          description: User removed.
  /agent/action/send_event:
    post:
      tags: [Events]
      summary: Send event
      description: Send a message or event in a chat.
      operationId: sendEvent
      responses:
        "200":
          description: Event sent.
  /agent/action/send_event_preview:
    post:
      tags: [Events]
      summary: Send event preview
      description: Send an unsaved message preview.
      operationId: sendEventPreview
      responses:
        "200":
          description: Preview sent.
  /agent/action/upload_file:
    post:
      tags: [Events]
      summary: Upload file
      description: Upload a file (max 10MB).
      operationId: uploadFile
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "200":
          description: File uploaded.
  /agent/action/send_rich_message_postback:
    post:
      tags: [Events]
      summary: Send rich message postback
      operationId: sendRichMessagePostback
      responses:
        "200":
          description: Postback sent.
  /agent/action/update_chat_properties:
    post:
      tags: [Properties]
      summary: Update chat properties
      operationId: updateChatProperties
      responses:
        "200":
          description: Properties updated.
  /agent/action/delete_chat_properties:
    post:
      tags: [Properties]
      summary: Delete chat properties
      operationId: deleteChatProperties
      responses:
        "200":
          description: Properties deleted.
  /agent/action/update_thread_properties:
    post:
      tags: [Properties]
      summary: Update thread properties
      operationId: updateThreadProperties
      responses:
        "200":
          description: Properties updated.
  /agent/action/delete_thread_properties:
    post:
      tags: [Properties]
      summary: Delete thread properties
      operationId: deleteThreadProperties
      responses:
        "200":
          description: Properties deleted.
  /agent/action/update_event_properties:
    post:
      tags: [Properties]
      summary: Update event properties
      operationId: updateEventProperties
      responses:
        "200":
          description: Properties updated.
  /agent/action/delete_event_properties:
    post:
      tags: [Properties]
      summary: Delete event properties
      operationId: deleteEventProperties
      responses:
        "200":
          description: Properties deleted.
  /agent/action/tag_thread:
    post:
      tags: [Threads]
      summary: Tag thread
      operationId: tagThread
      responses:
        "200":
          description: Thread tagged.
  /agent/action/untag_thread:
    post:
      tags: [Threads]
      summary: Untag thread
      operationId: untagThread
      responses:
        "200":
          description: Thread untagged.
  /agent/action/get_customer:
    post:
      tags: [Customers]
      summary: Get customer
      operationId: getCustomer
      responses:
        "200":
          description: Customer details.
  /agent/action/update_customer:
    post:
      tags: [Customers]
      summary: Update customer
      operationId: updateCustomer
      responses:
        "200":
          description: Customer updated.
  /agent/action/ban_customer:
    post:
      tags: [Customers]
      summary: Ban customer
      operationId: banCustomer
      responses:
        "200":
          description: Customer banned.
  /agent/action/set_routing_status:
    post:
      tags: [Status]
      summary: Set routing status
      operationId: setRoutingStatus
      responses:
        "200":
          description: Status updated.
  /agent/action/list_routing_statuses:
    post:
      tags: [Status]
      summary: List routing statuses
      operationId: listRoutingStatuses
      responses:
        "200":
          description: Agent statuses.
  /agent/action/mark_events_as_seen:
    post:
      tags: [Events]
      summary: Mark events as seen
      operationId: markEventsAsSeen
      responses:
        "200":
          description: Acknowledged.
  /agent/action/send_thinking_indicator:
    post:
      tags: [Other]
      summary: Send thinking indicator
      description: Display AI processing message.
      operationId: sendThinkingIndicator
      responses:
        "200":
          description: Indicator sent.
  /agent/action/send_typing_indicator:
    post:
      tags: [Other]
      summary: Send typing indicator
      operationId: sendTypingIndicator
      responses:
        "200":
          description: Indicator sent.
  /agent/action/multicast:
    post:
      tags: [Other]
      summary: Multicast
      description: Send non-chat notifications.
      operationId: multicast
      responses:
        "200":
          description: Multicast sent.
  /agent/action/list_agents_for_transfer:
    post:
      tags: [Chats]
      summary: List agents for transfer
      operationId: listAgentsForTransfer
      responses:
        "200":
          description: Agents list.
  /agent/action/request_thread_summary:
    post:
      tags: [Threads]
      summary: Request thread summary
      description: Generate an AI summary of a thread.
      operationId: requestThreadSummary
      responses:
        "200":
          description: Summary requested.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.x bearer token or Personal Access Token.
